body{
	display:flex;
	height:100vh;
	font-family:Tahoma,sans-serif;
	font-size:11px;
	text-align:center;
	margin:0;
	justify-content:center;
	flex-direction:column;
	background-image:url(../img/wallpaper.png);
	background-color:#001222;
	background-size:100vw 100vh;
	background-position:center;
	background-repeat:no-repeat;
	color:#020202;
}body::before{/* Overlays */
	content:'';
	display:block;
	position:fixed;
	top:0;
	left:0;
	transition:opacity 1s;
	width:100vw;
	height:100vh;
	pointer-events:none;
	opacity:0;
	z-index:9999;
}
::selection{background:#048;color:#f0f0f0;}
.monitor-overlay{
	width:calc(100vw - 24px);
	height:calc(100vh - 48px);
	border:12px solid;
	border-color:#080808 #191919 #191919 #080808;
	background-size:100vw 100vh;
	background-position:center;
}.monitor-overlay::after{
	content:'LG';
	display:block;
	position:fixed;
	left:0;
	bottom:0;
	width:100vw;
	height:24px;
	font-family:Helvetica,Helvetica Neue,Neue Haas Grotesk Text Pro,Neue Haas Grotesk Display Pro,Arial,sans-serif; /* anything but arial */
	font-size:20px;
	font-weight:900;
	background:#191919;
	color:#f0f0f0;
}
.vignette{background-image:radial-gradient(#0000,#000),url(../img/wallpaper.png);}
.vignette::before{
	opacity:1;
	background:radial-gradient(#0000 75%,#000);
}
.hidden{visibility:hidden;}

h1{
	margin:8px;
	color:orange;
	text-shadow:0 1px 2px #000;
}
p{margin:0 16px 8px 16px;}
ul{text-align:left;list-style:none;}

.desktop-icons{
	display:flex;
	position:fixed;
	top:0;
	left:0;
	width:calc(100% - 16px);
	height:calc(100% - 46px);
	padding:8px;
	flex-direction:column;
	z-index:1;
}
.monitor-overlay .desktop-icons{
	top:12px;
	left:12px;
	width:calc(100% - 40px);
	height:calc(100% - 94px);
}
.desktop-icon{
	display:flex;
	width:76px;
	height:70px;
	font-size:0;
	margin-bottom:28px;
	border:0;
	border-radius:4px;
	padding:0;
	flex-direction:column;
	background:#0000;
	color:#0000;
}.desktop-icon:hover{
	background:linear-gradient(#0064c855,#0485);
	box-shadow:0 0 0 1px #f0f0f044;
	backdrop-filter:blur(1px);
}.desktop-icon:focus,.desktop-icon:active{
	overflow:visible;
	background:linear-gradient(#0078f055,#05a5);
	box-shadow:0 0 0 1px #f0f0f088;
	backdrop-filter:blur(1px);
}.desktop-icon:focus::after,.desktop-icon:active::after{overflow:visible;}
.desktop-icon::before{
	content:'';
	display:block;
	width:48px;
	height:48px;
	margin:4px auto;
	flex-shrink:0;
}
.desktop-icon::after{
	font-size:11px;
	flex-shrink:1;
	color:#f0f0f0;
	text-shadow:1px 1px 4px #001222,1px 1px 4px #001222;
}
.desktop-icon.mojave::before{background:url(../img/mojave.svg) no-repeat;background-size:contain;}
.desktop-icon.mojave::after{content:'Mojave!...';}
.desktop-icon.mojave:focus::after,.desktop-icon.mojave:active::after{content:'Mojave! Master Browser';}
.desktop-icon.media::before{background:blue;}
.desktop-icon.media::after{content:'Thoughtview...';}
.desktop-icon.media:focus::after,.desktop-icon.media:active::after{content:'Thoughtviewer Media Player';}

.window{
	display:flex;
	width:90%;
	height:90%;
	margin:auto;
	border:3px solid #002244c8;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
	transition-property:width,height,border-width,border-radius;
	transition-duration:0.25s;
	flex-direction:column;
	box-shadow:4px 4px 2px #0128;
	backdrop-filter:blur(2px);
	z-index:2;
}.window.maximized{
	width:100%;
	height:calc(100% - 30px);
	border-width:0;
	border-radius:0;
}
.window-header{
	display:flex;
	height:20px;
	flex-shrink:0;
	font-family:Source Sans Pro,sans-serif;
	font-weight:bold;
	font-size:16px;
	text-align:left;
	padding:3px 4px;
	justify-content:space-between;
	overflow:hidden;
	background:linear-gradient(#004488c8,#002244c8);
	color:#f0f0f0;
	text-shadow:0 -1px #001222a0;
}
.icon{
	width:20px;
	height:20px;
	flex-shrink:0;
	margin-right:4px;
	background:url(../img/mojave.svg) no-repeat;
	background-size:contain;
}
#title{
	width:95%;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	flex-shrink:1;
}
.caption-buttons{display:flex;flex-shrink:0;}
.caption-buttons button{
	width:21px;
	height:21px;
	margin-left:2px;
	border:1px solid #001222;
	border-radius:4px;
	padding:2px;
	font-weight:900;
	flex-shrink:0;
	overflow:hidden;
	background:linear-gradient(135deg,#05a,#012);
	box-shadow:inset 1px 1px 2px #f0f0f080,inset -1px -1px 2px #00122280;
	color:#f0f0f0;
}.caption-buttons button::after{
	content:'';
	display:block;
	width:15px;
	height:15px;
	filter:drop-shadow(1px 1px 0.5px #0008);
}
.caption-buttons .minimize{margin:0;}
.caption-buttons .minimize::after{background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSIxNSIgaGVpZ2h0PSIxNSIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgMTUgMTUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHJlY3QgeD0iMSIgeT0iMTMiIHdpZHRoPSIxMyIgaGVpZ2h0PSIyIiByeT0iLjUiIGZpbGw9IiNmMGYwZjAiLz48L3N2Zz4=);}
.caption-buttons .maximize::after{background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4NCjxzdmcgd2lkdGg9IjE1IiBoZWlnaHQ9IjE1IiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxNSAxNSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJtMSAwYy0wLjUgMC0xIDAuNS0xIDF2MTNjMCAwLjUgMC41IDEgMSAxaDEzYzAuNSAwIDEtMC41IDEtMXYtMTNjMC0wLjUtMC41LTEtMS0xem0xIDNoMTF2MTBoLTExeiIgZmlsbD0iI2YwZjBmMCIvPjwvc3ZnPg==);}
.window.maximized .maximize::after{background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4NCjxzdmcgd2lkdGg9IjE1IiBoZWlnaHQ9IjE1IiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxNSAxNSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJtNCAwYy0wLjUgMC0xIDAuNS0xIDF2M2gtMmMtMC41IDAtMSAwLjUtMSAxdjljMCAwLjUgMC41IDEgMSAxaDEwYzAuNSAwIDEtMC41IDEtMXYtMi41aDJjMC41IDAgMS0wLjUgMS0xdi05LjVjMC0wLjUtMC41LTEtMS0xem0xIDNoOHY2LjVoLTF2LTQuNWMwLTAuNS0wLjUtMS0xLTFoLTZ6bS0zIDRoOHY2aC04eiIgZmlsbD0iI2YwZjBmMCIvPjwvc3ZnPg==);}
.caption-buttons .close{background:linear-gradient(135deg,#a00,#100);}
.caption-buttons .close::after{background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4NCjxzdmcgd2lkdGg9IjE1IiBoZWlnaHQ9IjE1IiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxNSAxNSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCB0cmFuc2Zvcm09InJvdGF0ZSgtNDUpIiBkPSJtMC43MjA5MiAwLjcyMDkyYy0wLjE4NDA3LTAuMTg0MDctMC40Mzg4NC0wLjI5ODMxLTAuNzIwOTItMC4yOTgzMS0wLjU2NDE2IDAtMS4wMTkyIDAuNDU1MDYtMS4wMTkyIDEuMDE5MnY4LjE0NTVoLTguMTQ1NWMtMC41NjQxNiAwLTEuMDE5MiAwLjQ1NTA2LTEuMDE5MiAxLjAxOTJzMC40NTUwNiAxLjAxOTIgMS4wMTkyIDEuMDE5Mmg4LjE0NTV2OC4xNDU1YzAgMC41NjQxNiAwLjQ1NTA2IDEuMDE5MiAxLjAxOTIgMS4wMTkyIDAuNTY0MTYgMCAxLjAxOTItMC40NTUwNiAxLjAxOTItMS4wMTkydi04LjE0NTVoOC4xNDU1YzAuNTY0MTYgMCAxLjAxOTItMC40NTUwNiAxLjAxOTItMS4wMTkycy0wLjQ1NTA2LTEuMDE5Mi0xLjAxOTItMS4wMTkyaC04LjE0NTV2LTguMTQ1NWMwLTAuMjgyMDgtMC4xMTQyNC0wLjUzNjg1LTAuMjk4MzEtMC43MjA5MnoiIGZpbGw9IiNmMGYwZjAiLz48L3N2Zz4=);}
.caption-buttons button:hover{background:linear-gradient(135deg,#0064c8,#024);}
.caption-buttons .close:hover{background:linear-gradient(135deg,#c00,#300);}
.caption-buttons button:active{background:linear-gradient(135deg,#048,#001222);}
.caption-buttons .close:active{background:linear-gradient(135deg,#900,#200);}

.browser-bar{
	display:flex;
	height:24px;
	padding:2px;
	background:#002244c8;
	backdrop-filter:blur(2px);
}
.left-buttons,.right-buttons{
	display:flex;
	width:80px;
	padding:0 4px;
	flex-shrink:0;
	justify-content:space-between;
}
.browser-bar button{
	width:24px;
	height:24px;
	margin-right:4px;
	flex-shrink:0;
	border:0;
	background-color:#0248;
}
#back,#forward{
	background:url(../img/arrowSheet.svg);
	background-size:cover;
	background-repeat:no-repeat;
}
#back{background-position-y:-24px;}
#forward{background-position-y:0;}
#back:hover{background-position-y:-72px;}
#forward:hover{background-position-y:-48px;}
#back:active{background-position-y:-120px;}
#forward:active{background-position-y:-96px;}
#reload{
	background:url(../img/reloadSheet.svg);
	background-size:cover;
	background-repeat:no-repeat;
	margin:0;
}
#reload:hover{background-position-y:-24px;}
#reload:active{background-position-y:-48px;}
#addressBar{
	width:calc(100% - 96px);
	height:16px;
	border:1px inset #024;
	border-radius:2px;
	padding:2px 4px;
	overflow:hidden;
	text-overflow:ellipsis;
	background:#00122280;
	color:#f0f0f0;
	text-shadow:0 -1px #000810;
}#addressBar:focus-visible,.desktop-icon:focus-visible{outline:none;}

.window-content,#document,footer{
	height:100%;
	border:1px solid #001122c8;
	border-bottom:0;
	overflow-y:auto;
	background:#f0f0f0c0;
}.window-content.hidden{display:none;}
#document{display:none;}
#document.shown{display:block;}
footer{
	display:flex;
	width:calc(100% - 2px);
	height:32px;
	font-size:14px;
	font-family:Tahoma,sans-serif;
	text-align:center;
	border-top:0;
	background:linear-gradient(#7f8b99d0,#1e2330d0);
	box-shadow:0 -2px 2px #0008;
	color:white;
	text-shadow:0 2px 2px #000;
	backdrop-filter:blur(2px);
	z-index:100;
}footer p{margin:auto;}
footer a,footer a:visited:hover{color:orange;transition:text-shadow 0.5s;}
footer a:hover{text-shadow:0 4px 2px #000;}
footer a:visited{color:darkorange;}

.tasquebar{
	display:flex;
	width:100%;
	height:30px;
	flex-shrink:0;
	justify-content:space-between;
	background:#373737c8;
	box-shadow:inset 0 6px 4px -4px #686868,inset 0 -6px 4px -4px #1c1c1c;
	backdrop-filter:blur(4px);
	z-index:3;
}
button#think{
	width:90px;
	font-family:Tahoma,sans-serif;
	font-size:16px;
	font-weight:bold;
	text-shadow:2px 2px 4px #0008;
	border:0;
	border-radius:0;
	padding-left:40px;
	padding-right:8px;
	flex-shrink:0;
	background:#004488c0;
	box-shadow:inset 0 6px 4px -4px #0080ff,inset 0 -6px 4px -4px #024;
	color:#f0f0f0;
	cursor:pointer;
}button#think::before{
	content:'';
	display:block;
	position:fixed;
	bottom:0;
	left:0;
	width:36px;
	height:36px;
	border-radius:100%;
	background:url(../img/thoughtviewer.svg) #012;
	background-size:contain;
}button#think::after{left:89.5px;}
button#think:hover{background:#0055aac0;}
button#think:active{background:#003366c0;box-shadow:inset 0 6px 4px -4px #0080ff,inset 0 -6px 4px -4px #012;}

.tasks{
	display:flex;
	width:calc(100% - 160px);
	padding:3px 8px;
	justify-content:left;
	flex-shrink:1;
}
.task{
	display:flex;
	width:154px;
	font-size:11px;
	text-align:right;
	margin-right:4px;
	border:3px solid;
	border-color:#0008 #e8e8e880 #e8e8e880 #0008;
	border-radius:2px;
	flex-shrink:0;
	background:#080808;
	color:#f0f0f0;
}.task::before{
	content:'';
	display:block;
	width:16px;
	height:16px;
	margin-right:3px;
	background:url(../img/mojave.svg) no-repeat;
	background-size:contain;
}
.task:hover{background:#1118;}
.task:active{background:#000;color:#c6c6c6;}

.clock-container{
	display:flex;
	width:70px;
	background:#505050;
	box-shadow:inset 0 6px 4px -4px #808080c8,inset 0 -6px 4px -4px #353535c8;
	color:#f0f0f0;
	text-shadow:0 -1px #282828;
}#clock{margin:auto;}

button#think::after,.clock-container::before{
	content:'';
	position:fixed;
	bottom:0;
	width:2px;
	height:30px;
	background:linear-gradient(90deg,#1e1e1ec8 49.5%,#696969c8 50.5%);
}