body{
	display:flex;
	height:calc(100vh - 96px);
	font-family:Tahoma,sans-serif;
	font-size:11px;
	text-align:center;
	margin:0;
	justify-content:center;
	background-image:url(../img/wallpaper.png);
	background-color:#000;
	background-size:cover;
	color:#020202;
}
::selection{background:#048;color:#f0f0f0;}
h1{
	margin:8px;
	color:orange;
	text-shadow:0 1px 2px #000;
}
p{margin:0 16px 8px 16px;}
ul{text-align:left;list-style:none;}

.window{
	display:flex;
	width:90%;
	height:90%;
	margin:auto;
	border:3px solid #002244c8;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	flex-direction:column;
	background:#f0f0f0c0;
	backdrop-filter:blur(2px);
}
.window-header{
	display:flex;
	height:20px;
	flex-shrink:0;
	font-family:Source Sans Pro,sans-serif;
	font-size:16px;
	text-align:left;
	padding:4px;
	justify-content:space-between;
	background:linear-gradient(#004488c8,#002244c8);
	color:#f0f0f0;
	text-shadow:0 -2px #001222a0;
}
.title{width:95%;}
.icon{
	width:20px;
	height:20px;
	flex-shrink:0;
	margin-right:4px;
	background:#000;
}
.caption-buttons{display:flex;flex-shrink:0;}
.caption-buttons button{
	width:20px;
	height:20px;
	margin-left:2px;
	border:1px solid #001222;
	border-radius:3px;
	background:linear-gradient(135deg,#059,#012);
	box-shadow:inset 1px 1px 2px #f0f0f080,inset -1px -1px 2px #00122280;
}.caption-buttons button:nth-of-type(1){margin:0;}
.window-content{
	height:100%;
	border:2px inset grey;
	overflow-y:auto;
}

.tasquebar{
	display:flex;
	position:fixed;
	width:calc(100vw - 24px);
	height:30px;
	bottom:68px;
	justify-content:space-between;
	background:#373737c8;
	box-shadow:inset 0 6px 4px -4px #686868,inset 0 -6px 4px -4px #1c1c1c;
	backdrop-filter:blur(4px);
}
button.think{
	font-family:Tahoma,sans-serif;
	font-size:16px;
	font-weight:bold;
	text-shadow:2px 2px 4px #0008;
	border:0;
	border-radius:0;
	padding-left:40px;
	padding-right:8px;
	flex-shrink:0;
	background:#004488c0;
	box-shadow:inset 0 6px 4px -4px #0080ff,inset 0 -6px 4px -4px #024;
	color:#f0f0f0;
	cursor:pointer;
}button.think::before{
	content:'';
	display:block;
	position:fixed;
	bottom:0;
	left:0;
	width:36px;
	height:36px;
	border-radius:100%;
	background:url(../img/thoughtviewer.svg) #012;
	background-size:contain;
}button.think::after{left:89.5px;}
button.think:hover{background:#005599c0;}
button.think:active{background:#003366c0;box-shadow:inset 0 6px 4px -4px #0080ff,inset 0 -6px 4px -4px #012;}

.tasks{
	display:flex;
	width:90%;
	padding:3px 8px;
	justify-content:left;
	flex-shrink:1;
}
.task{
	width:154px;
	font-size:11px;
	margin-right:4px;
	text-align:right;
	border:3px solid;
	border-color:#0008 #e8e8e880 #e8e8e880 #0008;
	border-radius:2px;
	flex-shrink:0;
	background:#080808;
	color:#f0f0f0;
}.task:hover{background:#1118;}
.task:active{background:#000;color:#c6c6c6;}

.time-container{
	display:flex;
	width:70px;
	background:#505050;
	box-shadow:inset 0 6px 4px -4px #808080c8,inset 0 -6px 4px -4px #353535c8;
	color:#f0f0f0;
	text-shadow:0 -1px #282828;
}#time{margin:auto;}

button.think::after,.time-container::before{
	content:'';
	position:fixed;
	bottom:0;
	width:2px;
	height:30px;
	background:linear-gradient(90deg,#1e1e1ec8 49.5%,#696969c8 50.5%);
}

.monitor-overlay{
	position:fixed;
	top:0;
	left:0;
	width:calc(100vw - 24px);
	height:calc(100vh - 80px);
	border:12px solid;
	border-color:#191919 #080808 #080808 #191919;
	background-image:linear-gradient(#19191925,#0000),url(../img/wallpaper.png);
	background-size:100vw 100vh;
	z-index:1;
}.monitor-overlay::after{
	content:'LG';
	display:block;
	position:fixed;
	bottom:32px;
	left:0;
	width:100vw;
	height:24px;
	font-family:Helvetica,Neue Haas Grotesk Text Pro,Neue Haas Grotesk Display Pro,Arial,sans-serif; /* anything but arial */
	font-size:20px;
	font-weight:900;
	background:#191919;
	color:#f0f0f0;
}
footer{
	display:flex;
	position:fixed;
	left:0;
	bottom:0;
	width:100%;
	height:32px;
	font-size:14px;
	font-family:Tahoma,sans-serif;
	text-align:center;
	background:linear-gradient(#7f8b99d0,#1e2330d0);
	box-shadow:0 -2px 2px #0008;
	color:white;
	text-shadow:0 2px 2px #000;
	backdrop-filter:blur(2px);
	z-index:100;
}footer p{margin:auto;}
footer a,footer a:visited:hover{color:orange;transition:all 0.5s;}
footer a:hover{text-shadow:0 4px 2px #000;}
footer a:visited{color:darkorange;}